body{
	background-image: url("../images/so-white.png");
	border-color: #dddddd;
	background-color: #ffffff;
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', Helvetica, sans-serif;
}
.navbar-main{
  height:75px;
}
.main-container{
  margin-top:30px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  max-width: 85%;
}

.about-me, .portfolio {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-weight: 700;
}
.navbar-brand{
  background: #4aaaa5;
  color: white;
  left:200px;
  height:75px;
  width:300px;
  text-align: center;
  font-size: 28px;
}

.name-wrapper{
  position:inherit;
  left:100px;
}

.profile-pic{
width: 200px;
height: 250px;
margin-top: 10px;
float: left;
margin-right: 25px;
}

.text-left{
  padding-right:4px;
  height:450px;
}

.caption {
    width:100%;
    bottom: 10px;
    position: absolute;
    background: #4aaaa5;
  }

.thumbnail {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;

}

.thumbnail img {
    max-width: 100%;
}

.label {
    position: absolute;
    bottom: 20px;
    left: 15px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #4aaaa5;
    color: #666666;
}
  

footer {
  background: #666666;
  color: #ffffff;
  padding: 25px 0;
  border-top: 8px solid #4aaaa5;
  color: #cccccc;
  font-size: 12px;
  text-align: center;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
}